/* Estimated Chrome logo colors
 Red: rgb(213,15,37) or Hex #d50f25
 Blue: rgb(51,105,232) or Hex #3369e8
 Green: rgb(0,153,57) or Hex #009939
 Yellow rgb(238,178,17) or Hex #eeb211
 Gray: rgb(102,102,102) or Hex #666666
*/

/* Add some things for FontAwsome */
.svg-inline--fa:hover {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.3em;
}

.svg-inline--fa.fa-trash:hover, .svg-inline--fa.fa-times:hover {
  color: #d50f25;
}

.svg-inline--fa.fa-lock {
  color: #d50f25;
}

.svg-inline--fa.fa-pencil-alt, .svg-inline--fa.fa-unlock {
  color: #009939;
}

.svg-inline--fa.fa-cloud {
  color: #eeb211;
}

.svg-inline--fa.fa-envelope {
  color: #3369e8;
}

.svg-inline--fa.fa-camera {
  color: tomato;
}

/* Custom tags */
/* Moden horizontal line */
.hline {
  width: 100%;
  height: 1px;
  background:#d1e0e0;
  overflow: hidden;
}

/* Imported from monitor.php */
#fullscreenBG {
  display:none;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:black;
  color:white;
  font-size:2em;
  cursor:pointer;
  text-align:left;
}

.fullscreen {
  width: 90% !important;
  height: 90% !important;
  z-index: 100;
  position:absolute;
  left: 5%;
  top: 5%;
  margin: 0px !important;
  border: none !important;
}

.fullscreen h1 {
  font-size: 1em !important;
}

.fullscreen img, .fullscreen div.info {
  width: 100% !important;
  height: 95% !important;
}

html, body, div, h1 {
  margin: 0;
  padding: 0;
  border: 0 none;
}

#topmenu {
  clear:both;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

/* side menu */
#menu {
  width: 350px;
  float: left;
  border-right: 1px solid black;
  display:none;
  word-wrap:break-word;
  overflow-y:scroll;
  height: calc(100% - 40px);
}


/* ************************ */
/* Start Fancy radiobuttons */
.section {
  padding: 5px;
  padding-left: 55px;
}
.section input[type="radio"]{
  display: none;
}
.container {
  margin-bottom: 10px;
}
.container label {
  position: relative;
}

/* Base styles for spans */
.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Radio buttons */
.container span.radio:hover {
  cursor: pointer;
}

.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #c0c0c0;
  border-radius: 50px;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #666666;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #3369e8;
}

/* End Fancy radiobuttons */
/* ********************** */

/* Tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* device related */
.devices {
  display: block;
  float: left;
  width: 200px;
  height: 200px;
  background-color: black;
}

.devices img {
  width: 100%;
  height: 100%;
}

#inactivedevs {
  clear:both;
  padding-top:10px;
  border-top: 1px solid black;
}

#inactivedevs div {
  float:left;
  width: 100px;
  height:40px;
  padding:5px;
  margin: 5px;
  background-color:black;
  color:white;
  border: 4px solid black;
}

#inactivedevs div.hidden {
  border: 4px solid green !important;
}

#activedevs > div {
  float:left;margin: 5px;
  border: 1px solid black;
}

#activedevs div h1 {
  border-bottom: 1px solid black;
  background-color:white;
  cursor:pointer;
}

#activedevs div.info {
  word-wrap:break-word;
  overflow-y:scroll;
  display:none;
  background-color:white;
}

div.locked {
  border: 5px solid red !important;
}

#logdialog {
  display:none;
}

.ui-dialog.logdialog {
  overflow: auto;
  min-width: 500px;
  max-height: 600px;
}
